.profileMenu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.profileMenu.open {
    right: 0;
}

.profileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    background-color: #1ac2ff;
    color: black;
}

.logo {
    height: 60px; 
}

.closeButton {
    background: none;
    border: none;
    font-size: 30px; 
    cursor: pointer;
    color: black;
}

.profileContent {
    padding: 20px;
    padding-bottom: 80px; /* Достаточный отступ для кнопки Log Out */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}


.profileSection {
    text-align: center;
    margin-bottom: 10px; 
}

.userIcon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.profileName {
    font-size: 18px;
    font-weight: bold;
}

.profileEmail {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}

.divider {
    border: 0;
    height: 1px;
    background: #555;
    margin: 10px 0;
}

.premiumStatus {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.status {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.status.active {
    color: #4caf50;
    animation: premiumGlow 1.5s ease-in-out infinite alternate;
}

.getPremiumButton {
    padding: 10px 20px;
    background-color: #4caf50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px auto 20px; 
    width: 80%; 
    text-align: center;
}

.getPremiumButton.disabled {
    background-color: #777;
    color: white;
    cursor: not-allowed;
}

.logoutButton {
    padding: 10px 20px;
    background-color: #1ac2ff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
}




.daysLeftInfo {
    text-align: center;
    color: #4caf50;
    font-size: 16px;
    margin-bottom: 20px;
    animation: daysLeftHighlight 1.5s ease-in-out infinite alternate;
}

@keyframes premiumGlow {
    from {
        text-shadow: 0 0 10px #4caf50, 0 0 20px #4caf50, 0 0 30px #4caf50;
    }
    to {
        text-shadow: 0 0 20px #8bc34a, 0 0 30px #8bc34a, 0 0 40px #8bc34a;
    }
}

@keyframes daysLeftHighlight {
    from {
        color: #4caf50;
    }
    to {
        color: #6df56b;
    }
}
