.bottomNav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #000;
    border-top: 1px solid #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    padding-bottom: calc(15px + env(safe-area-inset-bottom)); /* Учет безопасных зон на мобильных устройствах */
    box-sizing: border-box; /* Учитываем padding и border в ширине и высоте */
}

.navItem {
    text-align: center;
    color: #fff;
    text-decoration: none;
    flex-grow: 1; /* Равномерное распределение пространства между элементами */
    padding: 5px; /* Добавляем padding для увеличения кликабельной зоны */
}

.navItem img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.navItem span {
    font-size: 12px;
    display: block;
}

.navItem.active {
    color: #1ac2ff;
}

.navItem.active img {
    filter: brightness(0) saturate(100%) invert(29%) sepia(89%) saturate(2327%) hue-rotate(185deg) brightness(92%) contrast(92%);
}
